<div class="card" style="width: 18rem;" >


    <img [src]="../PracticaUdemy/assets/libro.img" class="card-img-top" [alt]="libro.img" height="381.33px">
    <div class="card-body">
      <h5 class="card-title">{{libro.titulo}}</h5>
      <div class="card-text">
        <ul>
          <li>año: {{libro.publicacion}}</li>
          <li>Paginas: {{libro.paginas}}</li>
        </ul>
      </div>
      <a [routerLink]="['/witcher-contra',libro.id,libro.titulo]" class="btn btn-primary">Leer Contratapa</a>
    </div>
  </div>
