<div class="jumbotron">
  <h1 class="display-4">Lista de Gerald De Rivia</h1>
  <p class="lead">todos las novelas de Gerarld de Rivia o The Witcher </p>
</div>
<div class="card-columns">
  <div class="card" style="width: 18rem;" *ngFor="let libro of this.libros">
    <img [src]="libro.img" class="card-img-top" [alt]="libro.img" height="381.33px">
    <div class="card-body">
      <h5 class="card-title">{{libro.titulo}}</h5>
      <div class="card-text">
        <ul>
          <li>año: {{libro.publicacion}}</li>
          <li>Paginas: {{libro.paginas}}</li>
        </ul>
      </div>
      <a [routerLink]="['/witcher-contra',libro.id]" class="btn btn-primary">Leer Contratapa</a>
    </div>
  </div>
</div>
